.App {
  text-align: center;
  background: -prefix-linear-gradient(top,#013a63 , #61a5c2);
  background: linear-gradient(to bottom, #013a63, #61a5c2);
  height: auto;
  width: 100vw;
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
}

#root
{
  /*
  background: -prefix-linear-gradient(top,#013a63 , #61a5c2);
  background: linear-gradient(to bottom, #013a63, #61a5c2);
  height: auto;
  width: 100vw;
  */
}
@media screen and (max-width:768px)
{
  #root
  {
    height: 1024px;
  }
}
@media screen and (max-width:576px)
{
  #root
  {
    height: 667px;
  }
}